.slide-container {
  width: 65vw;
  margin: auto;
  padding: 40px 0px; 
}

.slide {
  text-align: center; 
  position: relative;
}

.slide-tag {
  color: #ffffff; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  padding: 1em; 
  position: absolute; 
  top: 0px; 
  left: 0px;
}

.slide-testomonial {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5em; 
  position: absolute; 
  bottom: 0px; 
}

.photoStyle {
  width: 100%;
  height: auto;
}
